.decoder{
    display: flex block;
    background-image: url("../images/decoderCookbookBackground.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    transition: background 1s linear, opacity 0.3s linear; /* transitions */
    -webkit-transition: background 1s linear, opacity 0.3s linear;
}

#title {
    margin: 14px;
    padding-top: 160px;
    padding-bottom: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

#subtitle {
    margin: 14px;
    padding-bottom: 90px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.instructions {
    padding-left: 550px;
    padding-right: 550px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 14px;
}

textarea {
    background-color:rgba(0, 0, 0, 0.75);
    outline-color: black;
    height: 320px;
    width: 480px;
    resize: none;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
}
textarea:focus, input:focus{
    outline: 0;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#ovenContainer{
    padding-top: 0px;
    display: flex;
    
}
#oven {
    display:flex block;
}

.center {
    justify-content: center;
}