.homepage{
    display: flex block;
    background-image: url("../images/homepageOvenBackground.jpg");
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    transition: background 1s linear, opacity 0.3s linear; /* transitions */
    -webkit-transition: background 1s linear, opacity 0.3s linear;
}

.titleStrip{ /* big title strip section (picture) */
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    height: 775px;
    width: 100%;
    text-align: center;
    background-attachment: fixed;   
    margin-top: 0px;
}

#title {
    margin: 14px;
    padding-top: 17.5%;
    padding-bottom: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 370;
    font-size: 80px;
    color:white;
}

#subtitle {
    margin: 14px;
    padding-bottom: 90px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 370;
    font-size: 35px;
    color:white;
}

.instructions {
    padding-left: 10.75%;
    padding-right: 10.75%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-size: 30px;
    margin-top: 0px;
}

.subInstructions {
    font-size: 20px;
}

textarea {
    background-color: white;
    outline-color: black;
    height: 350px;
    width: 75%;
    resize: none;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}
textarea:focus, input:focus{
    outline: 0;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    border-width: 0px;
}
input:hover{
    text-decoration: underline black 1px;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

#recipeContainer{
    background: white;
}
#recipeInput {
    display:flex block;
    padding-bottom: 75px;
}
#instructionsContainer{
    padding-top: 100px;
}

.center {
    justify-content: center;
}

.vertical {
    display: block;
}

.horizontal {
    display: inline;
}

.arrow {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    margin-top: 125px;
    padding: 25px;
}
.arrow:hover {
    border: solid rgba(255, 255, 255, 0.5);
    border-width: 0 1px 1px 0;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}