html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

nav {
    padding-bottom: 15px;
    padding-top: 15px;
    left: 0px;
    right: 0px;
    height: 20px;
    z-index: 999999;
    font-family: 'Montserrat', sans-serif; 
    transition: background 0.1s linear, opacity 0.3s linear; /* transitions */
    -webkit-transition: background 0.1s linear, opacity 0.3s linear;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 200;
}
nav ul a {
    text-decoration: none;
    color:white;
}

.sticky{
    position: fixed;
    top: 0;
}

nav.main li{
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    align-content: center;
    text-align: center;
}
nav.main li a:visited {
    color: white;
}
nav.main li a:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 255);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}
nav.main li a:active{
    border-bottom: 1px solid rgba(255, 255, 255, 255);
}

.logo {
    float: left;
}
.tab {
    float: right;
}

.titleStrip{ /* big title strip section (picture) */
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    height: 775px;
    width: 100%;
    text-align: center;
    background-attachment: fixed;   
    margin-top: 0px;
}