.search{
    display: flex block;
    background-image: url("../images/searchBookBackground.jpg");
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    transition: background 1s linear, opacity 0.3s linear; /* transitions */
    -webkit-transition: background 1s linear, opacity 0.3s linear;
}

.titleStrip{ /* big title strip section (picture) */
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    height: 250px;
    width: 100%;
    text-align: center;
    background-attachment: fixed;   
    margin-top: 0px;
}

#title {
    margin: 14px;
    padding-top: 10%;
    padding-bottom: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 370;
    font-size: 80px;
    color:white;
}

#subtitle {
    margin: 14px;
    padding-bottom: 90px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 370;
    font-size: 35px;
    color:white;
}

.instructions {
    padding-left: 10.75%;
    padding-right: 10.75%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-size: 30px;
    margin-top: 0px;
}

.subInstructions {
    font-size: 20px;
}

input {
    background-color: white;
    outline-color: black;
    height: 10px;
    width: 75%;
    resize: none;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

#error {
    padding-top: 10px;
    width: 78%;
    resize: none;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.center {
    justify-content: center;
}

.vertical {
    display: block;
}

.horizontal {
    display: inline;
}

.keyword {
    block-size: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}